.navbar,
.navbar-brand,
.nav-link {
	text-decoration: none;
	color: purple;
	font-weight: bold;
}
#question {
	font-size: larger;
	font-weight: bold;
}
.hide {
	display: none;
}
h1 {
	color: purple;
}

.container {
	margin-top: 100px;
}
